      <!-- search for Crypto currency name  -->
      <form action="/search" method="post">
        <div class="search-area">
          <button class="btn btn-outline-light" type="submit">search</button>
          <div class="position-relative">
            <input type="text" id="searchInput" class="form-control" placeholder="Type to search..." name="coinName">
            <ul class="dropdown-menu w-100" id="dropdownList"></ul>
          </div>
        </div>
      </form>